/* ImageNode.module.css */

.imageWrapper {
    display: block;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    margin: 1rem auto;
    margin-bottom: 3.5rem;
    margin-top: 1rem;
    max-width: 100%;
    /* Set a maximum width for the image container */
    width: 100%;
    /* Ensure the container is responsive */
    /* aspect-ratio: 16 / 9; */
    /* Maintain a consistent aspect ratio */
    overflow: hidden;
}

.loading {
    min-height: 300px;
    /* Apply this while the image is loading */
}

.isLoaded {
    min-height: auto;
    /* Remove the fixed min-height once the image is loaded */
}

.customImg {
    object-fit: cover;
    /* Maintain aspect ratio and cover the container */
    width: 100%;
    /* Fill the container width */
    height: auto;
    /* Let the height adjust based on width */
    filter: brightness(0.9);
    transition: filter 0.3s;
}

.customImg:hover {
    filter: brightness(1);
}

.videoWrapper {
    display: block;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
