.articleLink {
	text-decoration: none;
}

.articleCard {
	background: var(--card-bg);
	display: flex;
	flex-direction: row;
	gap: 14px;
	padding: 14px;
	box-shadow: var(--theme-box-shadow);
	border-radius: var(--border-radius);
	height: 100%;
	border: 1px solid transparent;
	padding: 14px;
	transition-duration: 200ms;
}

.articleCard:hover {
	border-color: var(--color-soft-primary);
}

.articleCard h3 {
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
}

.articleCard p {
	font-size: 0.825rem;
	line-height: 1.5;
	margin-bottom: 0.25rem;
}

.articleCard > img {
    width: 160px;
    height: 107px;
    object-fit: cover;
    border-radius: var(--border-radius);
}

.cardFooter {
	align-items: center;
	display: flex;
	height: 3rem;
	justify-content: space-between;
}

.articleDate {
	color: var(--color-secondary);
	font-size: 0.75rem;
	line-height: 1;
}